body {
  background-color: #efedd6;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  background-color: steelblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  transform: translateX(400%);
  /* move content to the left or right with the transform property */
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}
